body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

ul {
    list-style: none;
}

.btn {
    background-color: #262626;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    display: inline-block;
    border: 0px;
}

.clear {
    clear: both;
}

.btn:hover {
    opacity: 0.8;
}

.container {
    max-width: 1600px;
    overflow: auto;
    margin: auto;
}

.main-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box img {
    width: 100%;
    margin-bottom: 20px;
}

.box h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.box p {
    padding-bottom: 10px;
}

.box a {
    color: rgb(6, 97, 233);
    font-size: 20px;
}

.box a:hover {
    opacity: 0.6;
}


/* top-menu */
#top-menu img {
    width: 120px;
    padding: 15px;
    float: left;
    padding-left: 0px;
}

#top-menu ul {
    float: left;
    padding-top: 20px;
}

#top-menu ul li {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

#top-menu ul li a:hover {
    border-bottom: 2px solid black;
}

/* slide-bar */


.slide-content {
    background: url(image/slide1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    text-align: center;
}

.slide-content .slide-text {
    padding-top: 325px;
}

.slide-content .slide-text h2 {
    font-size: 35px;
    padding-bottom: 15px;
}

.slide-content .slide-text p {
    padding-bottom: 30px;
    font-size: 17px;
}


/* products */
/* in main-box upper */



/* banner */

#banner .banner-content {
    height: 650px;
    width: 100%;
    background: url(image/xbox.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}


#banner .banner-content h3 {
    font-size: 30px;
    padding-top: 200px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#banner .banner-content p {
    width: 40%;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#banner .banner-content .btn {
    margin-left: 20px;
    font-size: 20px;
}


/* Carbon */

#carbon .carbon-content {
    height: 400px;
    width: 100%;
    background: url(image/carbon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    /* margin-bottom: 100px; */
    color: white;
}

#carbon .carbon-content h3 {
    font-size: 30px;
    padding-top: 130px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#carbon .carbon-content p {
    width: 60%;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#carbon .carbon-content .btn {
    background-color: white;
    color: black;
    margin-left: 20px;
    font-size: 20px;
}

/* socials */

#socials .social-content {
    padding-top: 40px;
    padding-bottom: 30px;
}

#socials .social-content h4 {
    display: inline;
    font-size: 30px;
}

#socials .social-content a img {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -4px;
}

#socials .social-content a img:hover {
    opacity: 0.8;
}


/* footer */
#footer {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 500px;
}

#footer .footer-content {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-top: 20px;
    font-size: 20px;
}

#footer .footer-content ul li {
    padding: 20px;
}

#footer .footer-content ul li a:hover {
    border-bottom: 2px solid black;
}

#footer .footer-content .footer-lead {
    font-size: 25px;
}



#footer .footer-end ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
}

#footer .footer-end ul li a {
    font-size: 13px;
}

#footer .footer-end ul li a:hover{
    border-bottom: 1px solid black;
}

#footer .footer-end ul li p {
    padding-right: 30px;
    padding-left: 10px;
    font-size: 13px;
}

@media screen and (max-width:652px) {
    #top-menu img {
        width: 120px;
        padding: 15px;
        float: left;
        padding-left: 0px;
    }

    #top-menu ul {
        float: left;
        padding-top: 20px;
    }

    #top-menu ul li {
        float: left;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width:414px) {

    .container {
        position: relative;
    }

    #top-menu img {
        width: 70px;
        padding: 15px;
        float: left;
        padding-left: 0px;
    }

    #top-menu ul {
        float: left;
        position: absolute;
        right: 12px;
        top: -8px;
    }

    #top-menu ul li {
        float: left;
        padding-right: 10px;
        padding-left: 10px;
    }

    #top-menu ul li a {
        font-size: 10px;
    }
}